*{
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: red;

}
body{
  background-color: lightblue;
  color: black;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  margin-left: 30%;
  margin-top: 5%
}
 

button:hover{
  background-color: black;
}
#Start{
  margin-right:1200px;
  width: 100px;
  height: 50px;
  font-size:45px;
  text-align: center;
}

#Movements > button{
  width: 50px;
  height: 50px;
  display: flex;
  font-size:40px;
  Margin-left: 700px;
  Margin-top: -15%
}

#Quit{
  
  width: 100px;
  height: 50px;
  font-size:45px;
  text-align: center;
  Margin-left: -160px;
  margin-top: 580px
}




#Guess{
  
  width: 100px;
  height: 50px;
  font-size:20px;
  text-align: center;
  margin-left:-650px;
  Margin-top: -40px
}

#Return{


    display:flex;
    justify-content: space-between;
    width: 115px;
    height: 50px;
    font-size:40px;
    text-align: center;
    Margin-left: 700px;
  }

#Nav{
  
}